body,tr,td,ul,il{ font-size:12px; font-family:"ו", Courier, monospace; padding:0px; margin:0px;color:#15428B}
input{ border:0px; border:1px solid #8caed8; background-color:#ffffff;}
a{color:#0066cc; text-decoration:none;font-size:12px;}
a:visited{color: #0066cc;text-decoration:none;font-size:12px;}
a:hover{color:#FFFFFF; text-decoration:none;font-size:12px;}
.tab{ border:1px solid #666666; border-left-width:0px; border-top-width:0px; padding:0px; margin:0px; }
.tab .t-left{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px; text-align:center; font-weight:bold; }
.tab .t-middle-left{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px;  text-align:left; font-weight:bold;}
.tab .t-middle-right{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px;  text-align:right; font-weight:bold;}
.tab .t-middle{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px;  text-align:center; font-weight:bold;}
.tab .t-right{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px;  text-align:right; font-weight:bold;}
.tab .c-left{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px;  text-align:center }
.tab .c-middle-left{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px; text-align:left; padding-left:2px;}
.tab .c-middle-right{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px; text-align:right}
.tab .c-middle{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px;  text-align:center}
.tab .c-right{ border:1px solid #666666; border-right-width:0px; border-bottom-width:0px;  text-align:right; padding-right:2px;}
.input-solid{ border:1px solid #666666; }
.input-solid-x{ border:0px; border-bottom:1px solid #666666; }
.bglogin
{
	background-image:url(../Images/logo.gif);
	background-repeat:no-repeat;
	width:450px;
	height:68px;
}
dl,ul,ol,li {list-style:none}
	
#top{width:100%;height:106px;}
#top .logo{width:100%;height:69px;background:url(../images/head.jpg) center no-repeat;}
#top .logo img.home{width:100%;height:69px;float:left;}
/*#top .logo .tel{width:130px;height:79px;float:right;margin-right:4px;margin-top:15px;}
#top .logo .tel p.num01{font-size:19px;font-weight:bold;color:#CD0000;line-height:24px;font-style:italic;letter-spacing:-1px;}
#top .logo .tel p.num02{font-size:19px;font-weight:bold;color:#CD0000;line-height:24px;margin-top:12px;font-style:italic;letter-spacing:-1px;}*/

#menu{width:100%;height:37px;background:url(../images/bg_menu.gif) 0 -120px repeat-x;}
#menu .lc{width:14px;height:37px;background:url(../images/bg_menu.gif) 0 -60px no-repeat;float:left;}
#menu .rc{width:14px;height:37px;background:url(../images/bg_menu.gif) no-repeat;float:right;}
#menu .cc{width:1000px;height:37px;float:left;}
#menu .cc ul{overflow:hidden;zoom:1;}
#menu .cc li{float:left;width:122px;height:35px;padding-left:14px;background:url(../images/bg_menu.gif) 0 -180px no-repeat;}
#menu .cc li.nobg{float:left;width:122px;height:35px;background:none;}
#menu .cc li a{display:block;width:122px;height:35px;line-height:35px;font-size:12px;color:#FFF;text-align:center;font-weight:bold;}
#menu .cc li a:hover{background:url(../images/bg_menu_cur.gif) center no-repeat;text-decoration:none;}
#menu .cc li a.cur{display:block;width:122px;height:33px;line-height:33px;font-size:12px;color:#FFF;text-align:center;font-weight:bold;background:url(../images/bg_menu_cur.gif) right no-repeat;}


